body{
    text-align: center;
    font-family: 'Merriweather', serif;
    align-items: center;
    background-image: url('./images/videocall.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #cccccc;
    background-size: contain;
    background-blend-mode:multiply;
}
.form-control{
    width: auto;
}
input{       
    margin-left: auto;
    margin-right: auto;
}
.inputForm{
    background-color: #fff;
    background-color: rgba(255,255,255,0.4);width:fit-content; margin:auto;padding:1rem;
    border-radius: 4px;
}