body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
nav{
    margin-bottom: 1em;
}
button {
    margin: 0.2em 0.1em;
}
.meetBtn{
    border-radius: 10px;
    border:0px;
    visibility: hidden;        
}
#videoBtn,#micBtn{
    background-color:  #2e2e9b;  
}
#videoBtn:hover,#micBtn:hover{
    background-color:#019b7a;
}
#hangupBtn{
    background-color:rgb(180, 13, 13);
}
#hangupBtn:hover{
    background-color:rgb(128, 1, 1) ;
}
div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
video {
    background: black;
    object-fit: contain;
    width: 40vw;
    height: 50vh;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}
.padding{
    padding: 2rem;
}
#contactinfo a{
    font-size: 75px;
}
.fa-github-square{
    color: wheat;
}
.fa-linkedin{
    color:  #0e76a8;
}
.fa-envelope{
    color: #D44638;
}
.fa-github-square:hover,.fa-envelope:hover,.fa-linkedin:hover{
    color:#d5d5d5;
}
#contactinfo{
    background-color: #202020;
}
hr.light{
    border-top:2px solid #d5d5d5;
    width: 80%;   
    margin-left: auto;
    margin-right: auto;     
}
