body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
nav{
    margin-bottom: 1em;
}
button {
    margin: 0.2em 0.1em;
}
