body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    font-family: 'Merriweather', serif;
}
nav{
    margin-bottom: 1em;
}
button {
    margin: 0.2em 0.1em;
}
.meetBtn{
    border-radius: 10px;
    border:0px;
    visibility: hidden;        
}
#videoBtn,#micBtn{
    background-color:  #2e2e9b;  
}
#videoBtn:hover,#micBtn:hover{
    background-color:#019b7a;
}
#userImg{
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 70px;
}
#hangupBtn{
    background-color:rgb(180, 13, 13);
}
#hangupBtn:hover{
    background-color:rgb(128, 1, 1) ;
}
#myMeetBtns i{
    font-size: 25px;
    padding: 3px;
}
#myMeetBtns button{
    margin: 0.5em;
}
div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.videoLabels{
    width: inline;
    min-width: 100px; 
    height: inline; 
    color: white; 
    z-index: 1; 
    position: absolute; 
    top:32px; left: 66px; 
    background: rgb(139, 48, 201); 
    padding:2px;
}
video {
    background: black;
    object-fit: cover;
    width: 40vw;
    height: 50vh;
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}
li.nav-item{
    margin-right: auto;
}
.padding{
    padding: 2rem;
}
#contactinfo a{
    font-size: 75px;
}
.fa-github-square{
    color: wheat;
}
.fa-linkedin{
    color:  #0e76a8;
}
.fa-envelope{
    color: #D44638;
}
.fa-github-square:hover,.fa-envelope:hover,.fa-linkedin:hover{
    color:#d5d5d5;
}
#contactinfo{
    background-color: #202020;
}
hr.light{
    border-top:2px solid #d5d5d5;
    width: 80%;   
    margin-left: auto;
    margin-right: auto;     
}

/*CSS for chat box*/
.card-body{
    /* background-image: url('./images/chat-bg2.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #ffffff;
    background-blend-mode:multiply;   
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./images/chat-bg3.png");
}

.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow:visible;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #d85ed8;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #d85ed8;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}
.chat-list .in .chat-body {
    float: left;
    margin-left: 20px;
    text-align: left;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

.content{
    margin-top:40px;    
}

/*testing*/
.scroll {
    height: 70vh;
    overflow-y: auto;
}